.shuffleIcon {
    height: 15px;
    width: 15px;
}

.shuffleIcon.active {
    fill: #24994c;
}

.previousIcon {
    height: 15px;
    width: 15px;
    transform: rotate(180deg);
}

.repeatIcon {
    height: 15px;
    width: 15px;
}

.repeatIcon.Repeat {
    fill: #24994c;
}

.repeatIcon.RepeatOnce {
    fill: rebeccapurple;
}

.playIcon {
    height: 35px;
    width: 35px;;
}

.playIcon:hover {
    height: 40px;
    width: 40px;
}

.nextIcon {
    height: 15px;
    width: 15px;
}