.volume {
	display: inline-flex;
	width: 100%;
}

.volume:hover > .regulator .progressBar .progressFiller {
	background-color: #00db4c;
}
.volume:hover > .regulator .progressBar svg {
	width: 10px;
}

.regulator {
	width: 100%;
}

.playlistIcon.active {
	fill: #00db4c;
}
